<!-- Admin page -->
<div class = "row">
    <div class="col-md-12">
      <h1>{{ vm.title }}</h1>
      <br/>
    </div>
</div>

<!-- Guild -->
<div class="row">
  <!-- Update button -->
  <div class="col-md-2">
    <a ng-click="vm.updateGuild()" ng-disabled="vm.updatingGuild" class="btn btn-default">
      Update guild
    </a>
  </div>
  <!-- Refresh rotating icon -->
  <div class="col-md-3" ng-show="vm.updatingGuild">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>
  <!-- Update message & last BNET update date -->
  <div class="col-md-3" ng-show="vm.guildUpdateMessage">
    {{ vm.guildUpdateMessage }}
    <br/>
    Last BNET update : {{ vm.guildLastModified }}
  </div>
  <!-- Guild members count -->
  <div class="col-md-7" ng-show="vm.guildMemberCount">
    Members : {{ vm.guildMemberCount }}
  </div>
</div>
<br/>

<!-- Characters -->
<div class="row">
  <!-- Update button -->
  <div class="col-md-2">
    <a ng-click="vm.updateCharacters()" ng-disabled="vm.updatingCharacters" class="btn btn-default">
      Update characters
    </a>
  </div>
  <!-- Refresh rotating icon -->
  <div class="col-md-3" ng-show="vm.updatingCharacters">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>
  <div class="col-md-4" ng-show="vm.charactersUpdateMessage">
    {{ vm.charactersUpdateMessage }}
  </div>
  <div class="col-md-3" ng-show="vm.addedCharacters">
    Added : {{ vm.addedCharacters.length }}
  </div>
  <div class="col-md-3" ng-show="vm.removedCharacters">
    Removed : {{ vm.removedCharacters.length }}
  </div>
</div>
