<!-- Navbar -->
<trmds-nav-bar page="admin"></trmds-nav-bar>

<!-- Admin page -->
<div class = "row">
    <div class="col-md-12">
      <h1>{{ vm.title }}</h1>
      <br/>
    </div>
</div>

<!-- Guild -->
<div class="row">
  <!-- Update button -->
  <div class="col-md-3">
    <a ng-click="vm.updateGuild()" ng-disabled="vm.updatingGuild" class="btn btn-default">
      Update guild
    </a>
  </div>
  <!-- Refresh rotating icon -->
  <div class="col-md-9" ng-show="vm.updatingGuild">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>
  <!-- Update message & last BNET update date -->
  <div class="col-md-3" ng-show="vm.guildUpdateMessage">
    {{ vm.guildUpdateMessage }}
    <br/>
    Last BNET update : {{ vm.guildLastModified }}
  </div>
  <!-- Guild members count -->
  <div class="col-md-6" ng-show="vm.guildMemberCount">
    Members : {{ vm.guildMemberCount }}
  </div>
</div>
<br/>

<!-- Characters -->
<div class="row">
  <!-- Update collection button -->
  <div class="col-md-3">
    <a ng-click="vm.updateCharacterCollection()" ng-disabled="vm.updatingCharacterCollection" class="btn btn-default">
      Update character collection
    </a>
  </div>
  <!-- Refresh rotating icon -->
  <div class="col-md-9" ng-show="vm.updatingCharacterCollection">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>
  <div class="col-md-3" ng-show="vm.charactersUpdateMessage">
    {{ vm.characterCollectionUpdateMessage }}
  </div>
  <div class="col-md-3" ng-show="vm.addedCharacters">
    Added : {{ vm.addedCharacters.length }}
  </div>
  <div class="col-md-3" ng-show="vm.removedCharacters">
    Removed : {{ vm.removedCharacters.length }}
  </div>
</div>

<hr/>

<!-- Mains / Rerolls -->
<div class="row" ng-show="!vm.rerolls">
  <div class="col-md-12">
    Nothing to link, all rerolls have mains.
  </div>
</div>
<div class="row" ng-show="vm.rerolls">
  <div class="col-md-4">
    <h4>Rerolls without mains</h4>
    <div ng-repeat="reroll in vm.rerolls" ng-click="vm.selectedReroll = reroll" class="link-main-reroll"
         ng-class="reroll.name === vm.selectedReroll.name ? 'selected' : ''">
      {{ reroll.name }} - {{ reroll.guildRank }} - {{ reroll.accountIdentifier }}
    </div>
  </div>
  <div class="col-md-4">
    <h4>Mains</h4>
    <div ng-repeat="main in vm.mains" ng-click="vm.selectedMain = main" class="link-main-reroll"
         ng-class="main.name === vm.selectedMain.name ? 'selected' : ''">
      {{ main.name }} - {{ main.guildRank }} - {{ main.accountIdentifier }}
    </div>
  </div>
  <div class="col-md-4">
    Reroll : {{ vm.selectedReroll.name }}
    <br/>
    Main : {{ vm.selectedMain.name }}
    <br/>
    <a class="btn btn-default" ng-disabled="!vm.selectedMain || !vm.selectedReroll || vm.linkingRerollToMain" ng-click="vm.linkRerollToMain()">
      <i class="fa fa-refresh fa-spin" ng-show="vm.linkingRerollToMain"></i>
      Link
    </a>
  </div>
</div>
<!-- Misc -->
<hr/>
<div class="row">
  <div class="col-md-12">
    <a href="https://www.npmjs.com/package/battlenet-api" target="_blank">Battlenet Community API</a>
    <br/>
    <a href="http://jtblin.github.io/angular-chart.js/" target="_blank">Angular Charts 1</a>
    <br/>
    <a href="http://www.bootstrapzero.com/blocks/" target="_blank">Dashboard example</a>
    <hr/>
    <a href="http://www.wowprogress.com/post/37_Data_Export" target="_blank">WoWProgress API</a>
    <br/>
    <a href="https://www.warcraftlogs.com/v1/docs" target="_blank">Warcraft Logs API</a>
    <br/>
    <a href="https://dash.import.io/5482b056-6980-4082-af5a-8de7e1c5d138" target="_blank">Import.io Dashboard</a>
  </div>
</div>
