<!-- Character info page -->
<!-- Sidebar -->
<trmds-side-bar page="roster"></trmds-side-bar>

<div class="rows-wrapper fill" ng-class="$root.open">

<!-- Character page -->
<div ng-show="vm.updatingCharacter" class="text-center">
  <h2>Mise a jour</h2>
  <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
</div>

<span ng-show="!vm.updatingCharacter">

<!-- Top row -->
<div class="row character-row">
  <!-- Name + Thumbnail + buttons -->
  <div class="col-md-4 fill character-unit">
      <div class="character-unit-header">PERSONNAGE</div>
      <div class="character-unit-body">
          <img class="character-unit-thumbnail img-thumbnail" ng-show="vm.character.thumbnail" ng-src="{{ vm.getThumbnailPath() }}"/>
          <h1 ng-class="vm.getClassColor(vm.character.class)">{{ vm.character.name }}</h1>
          <!-- Lien Battlenet -->
          <a ng-href="https://worldofwarcraft.com/fr-fr/character/ysondre/{{ vm.character.name }}" target="_blank" class="btn btn-sm btn-default">
            <i class="fa fa-gamepad fa-2x" aria-hidden="true"></i>
          </a>
          <!-- Bouton Refresh -->
          <a ng-click="vm.updateCharacter()" class="btn btn-sm btn-default"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
          <br/><br/>
          <small class="text-muted">Derniere MAJ : {{ vm.lastModified }}</small>
      </div>
  </div>

  <div class="col-md-4 fill character-unit-container">
    <!-- Class + Guild rank -->
    <div class="character-unit half-character-unit">
      <div class="character-unit-header">CLASS + RANK</div>
      <div class="character-unit-body">
        <h2><trmds-class char-class="{{ vm.character.class }}"></trmds-class>
        <small>{{ vm.getSelectedSpec() }}</small></h2>
        <h3><trmds-guild-rank rank="{{ vm.character.guildRank }}"></trmds-guild-rank></h3>
      </div>
    </div>
    <!-- Lvl + ILvl -->
    <div class="character-unit half-character-unit">
      <div class="character-unit-header">LVL + ILVL</div>
      <div class="character-unit-body">
        <div class="character-unit-lvl">Lvl {{ vm.character.level }}</div>
        <h2>{{ vm.character.averageItemLevel }}</h2>
        <h4 class="text-muted">{{ vm.character.averageItemLevelEquipped }} equipe</h4>
      </div>
    </div>
  </div>

  <!-- Achievement points -->
  <div class="col-md-2 fill character-unit">
    <div class="character-unit-header">HAUT-FAITS</div>
    <div class="character-unit-body">
      <h1>{{ vm.character.achievementPoints }}</h1>
      <img src="../assets/img/achievements.png" class="img-rounded"/>
    </div>
  </div>
  <!-- Rerolls -->
  <div class="col-md-2 fill character-unit">
    <div class="character-unit-header">REROLLS</div>
    <div class="character-unit-body">
      <div ng-repeat="reroll in vm.rerolls" ng-hide="reroll.name === vm.character.name">
        <span ng-class="vm.getClassColor(reroll.class)">{{ reroll.name }}</span>
        <a ng-href="#/character/{{ reroll.name }}" class="btn btn-default btn-xs">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

</div>
<!-- Bottom row -->
<div class="row character-row">
    <!-- PvP -->
    <div class="col-md-2 fill character-unit">
      <div class="character-unit-header">PVP</div>
      <div class="character-unit-body">
        <h5>2c2</h5>
        <h4>{{ vm.character.arena2v2Rating }}</h4>
        <span class="text-muted">{{ vm.character.arena2v2SeasonWon }}W {{ vm.character.arena2v2SeasonLost }}L</span>
        <h5>3c3</h5>
        <h4>{{ vm.character.arena3v3Rating }}</h4>
        <span class="text-muted">{{ vm.character.arena3v3SeasonWon }}W {{ vm.character.arena3v3SeasonLost }}L</span>
        <h5>RBG</h5>
        <h4>{{ vm.character.rbgRating }}</h4>
        <span class="text-muted">{{ vm.character.rbgSeasonWon }}W {{ vm.character.rbgSeasonLost }}L</span>
      </div>
    </div>
    <!-- Proving Grounds -->
    <div class="col-md-2 fill character-unit">
      <div class="character-unit-header">ORDALIE</div>
      <div class="character-unit-body">
        <span>DPS</span><br/>
        <trmds-proving-grounds value="{{ vm.character.provingGroundsDps }}" size="60"></trmds-proving-grounds>
        <br/><br/>
        <span>TANK</span><br/>
        <trmds-proving-grounds value="{{ vm.character.provingGroundsTank }}" size="60"></trmds-proving-grounds>
        <br/><br/>
        <span>HEAL</span><br/>
        <trmds-proving-grounds value="{{ vm.character.provingGroundsHeal }}" size="60"></trmds-proving-grounds>
        <br/>
      </div>
    </div>
    <!-- Reputations -->
    <div class="col-md-4 fill character-unit">
      <div class="character-unit-header">REPUTATIONS</div>
      <div class="character-unit-body">
        <div ng-repeat="reput in vm.character.reputations">
          <div class="row">
            <div class="col-md-6">{{ reput.name }}</div>
            <div class="col-md-6">
              <trmds-reputations standing="{{ reput.standing }}" current="{{ reput.current }}" max="{{ reput.max }}"></trmds-reputations>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Professions -->
    <div class="col-md-4 fill character-unit">
      <div class="character-unit-header">METIERS</div>
      <div class="character-unit-body character-unit-professions">
        <b>TODO</b>
        <!-- Primary 
        <div class="row">
          <div class="col-md-6" ng-show="vm.character.professions[0].name">
            <trmds-profession-icons profession="{{ vm.character.professions[0].name }}"></trmds-profession-icons>
            <br/>
            <canvas class="chart chart-doughnut" chart-data="vm.professionData[0]" chart-labels="vm.labels" chart-colors="vm.colors"></canvas>
          </div>
          <div class="col-md-6" ng-show="vm.character.professions[1].name">
            <trmds-profession-icons profession="{{ vm.character.professions[1].name }}"></trmds-profession-icons>
            <br/>
            <canvas class="chart chart-doughnut" chart-data="vm.professionData[1]" chart-labels="vm.labels" chart-colors="vm.colors"></canvas>
          </div>
          <div class="col-md-12" ng-hide="vm.character.professions[0].name || vm.character.professions[1].name">
            <h3 class="text-muted">Aucun metier (miskine)</h3>
          </div>
        </div>
        <br/>
        -->
        <!-- Secondary 
        <div class="row">
          <div class="col-md-3" ng-show="vm.character.professions[2].name">
            <trmds-profession-icons profession="{{ vm.character.professions[2].name }}"></trmds-profession-icons>
            <br/>
            <canvas class="chart chart-doughnut" chart-data="vm.professionData[2]" chart-labels="vm.labels" chart-colors="vm.colors"></canvas>
          </div>
          <div class="col-md-3" ng-show="vm.character.professions[3].name">
            <trmds-profession-icons profession="{{ vm.character.professions[3].name }}"></trmds-profession-icons>
            <br/>
            <canvas class="chart chart-doughnut" chart-data="vm.professionData[3]" chart-labels="vm.labels" chart-colors="vm.colors"></canvas>
          </div>
          <div class="col-md-3" ng-show="vm.character.professions[4].name">
            <trmds-profession-icons profession="{{ vm.character.professions[4].name }}"></trmds-profession-icons>
            <br/>
            <canvas class="chart chart-doughnut" chart-data="vm.professionData[4]" chart-labels="vm.labels" chart-colors="vm.colors"></canvas>
          </div>
          <div class="col-md-3" ng-show="vm.character.professions[5].name">
            <trmds-profession-icons profession="{{ vm.character.professions[5].name }}"></trmds-profession-icons>
            <br/>
            <canvas class="chart chart-doughnut" chart-data="vm.professionData[5]" chart-labels="vm.labels" chart-colors="vm.colors"></canvas>
          </div>
        </div>
        -->
      </div>
    </div>
</div>
</span>
</div>
