<!-- Navbar -->
<trmds-nav-bar page="home"></trmds-nav-bar>

<!-- Character page -->
<div ng-show="vm.updatingCharacter" style="text-align: center;">
  <h1>Mise a jour</h1>
  <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
</div>
<span ng-show="!vm.updatingCharacter">

<!-- Top row -->
<div class="row character-row">
    <!-- Name + Thumbnail + buttons -->
    <div class="col-md-4 fill character-unit">
        <div class="character-unit-header">PERSONNAGE</div>
        <div class="character-unit-body">
            <img class="img-thumbnail" ng-show="vm.character.thumbnail" ng-src="{{ vm.getThumbnailPath('inset') }}"/>
            <h1>{{ vm.character.name }}</h1>
            <!-- Lien Battlenet -->
            <a ng-href="http://eu.battle.net/wow/fr/character/ysondre/{{ vm.character.name }}/advanced" target="_blank">
              <i class="fa fa-gamepad fa-2x" aria-hidden="true"></i>
            </a>
            <!-- Bouton Refresh -->
            <a ng-click="vm.updateCharacter()" style="cursor: pointer;"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
            <br/><br/>
            <small class="text-muted">Derniere MAJ : {{ vm.lastModified }}</small>
        </div>
    </div>
    <!-- Class + Level + Guild rank -->
    <div class="col-md-4 fill character-unit">
      <div class="character-unit-header">CLASS + LEVEL + RANK</div>
      <div class="character-unit-body">
        <h2>
          <trmds-class char-class="{{ vm.character.class }}"></trmds-class>
          <small>{{ vm.getSelectedSpec() }}</small>
        </h2>
        <h3>Lvl {{ vm.character.level }}</h3>
        <hr/>
        <h2><trmds-guild-rank rank="{{ vm.character.guildRank }}"></trmds-guild-rank></h2>
      </div>
    </div>
    <!-- iLvl -->
    <div class="col-md-4 fill character-unit-container">
      <div class="character-unit half-character-unit">
        <div class="character-unit-header">ILVL</div>
        <div class="character-unit-body">
          <h1>{{ vm.character.averageItemLevel }}</h1>
          <h4 class="text-muted">{{ vm.character.averageItemLevelEquipped }} equipe</h4>
        </div>
      </div>
      <div class="character-unit half-character-unit">
        <div class="character-unit-header">???</div>
        <span>???</span>
      </div>
    </div>
</div>
<!-- Bottom row -->
<div class="row character-row">
    <!-- Achievement points -->
    <div class="col-md-2 fill character-unit">
      <div class="character-unit-header">HAUT-FAITS</div>
      <div class="character-unit-body">
        <h1>{{ vm.character.achievementPoints }}</h1>
        <img src="../assets/img/achievements.png" class="img-rounded"/>
      </div>
    </div>
    <!-- Proving Grounds -->
    <div class="col-md-2 fill character-unit">
      <div class="character-unit-header">ORDALIE</div>
      <div class="character-unit-body">
        <span>DPS</span><br/>
        <trmds-proving-grounds value="{{ vm.character.provingGroundsDps }}"></trmds-proving-grounds>
        <br/><br/>
        <span>TANK</span><br/>
        <trmds-proving-grounds value="{{ vm.character.provingGroundsTank }}"></trmds-proving-grounds>
        <br/><br/>
        <span>HEAL</span><br/>
        <trmds-proving-grounds value="{{ vm.character.provingGroundsHeal }}"></trmds-proving-grounds>
        <br/>
      </div>
    </div>
    <!-- Arena -->
    <div class="col-md-4 fill character-unit">
      <div class="character-unit-header">ARENA</div>
      <div class="character-unit-body">
        <p>2c2<br/>{{ vm.character.arena2v2Rating }}</p>
        <p>3c3<br/>{{ vm.character.arena3v3Rating }}</p>
        <p>5c5<br/>{{ vm.character.arena5v5Rating }}</p>
      </div>
    </div>
    <!-- Professions -->
    <div class="col-md-4 fill character-unit">
      <div class="character-unit-header">METIERS</div>
      <div class="character-unit-body character-unit-professions">
        <div class="row">
          <div class="col-md-6">
            <trmds-profession-icons profession="{{ vm.character.professions[0].name }}"></trmds-profession-icons>
            <br/><br/>
            <canvas class="chart chart-doughnut" chart-data="vm.professionData1" chart-labels="vm.labels" chart-colours="vm.colours"></canvas>
          </div>
          <div class="col-md-6">
            <trmds-profession-icons profession="{{ vm.character.professions[1].name }}"></trmds-profession-icons>
            <br/><br/>
            <canvas class="chart chart-doughnut" chart-data="vm.professionData2" chart-labels="vm.labels" chart-colours="vm.colours"></canvas>
          </div>
        </div>
      </div>
    </div>
</div>
</span>
