<div class="row">
    <div class="col-md-12">
        <div class="cover">
            <h1>- Tremendous -</h1>
            <h2>EU-Ysondre</h2>
            <br/>
            <a href="#/home">
                <img src="http://orig13.deviantart.net/6693/f/2010/029/2/7/horde_banner_transparent_by_seccentral.png" width="200" height="300">
            </a>
            <br/>
            <h2>
              <timer interval="1000" countdown="vm.countdown">{{days}}D:{{hours}}H:{{minutes}}M:{{seconds}}S</timer>
            </h2>
            <br/>
        </div>
    </div>
</div>
