<!-- Cover page -->
<div class="cover">
  <span class="cover-title">- Wyrd -</span>
  <br/>
  <span class="cover-server">EU-Ysondre</span>
  <br/>

  <a class="btn btn-primary cover-btn" href="/auth/bnet" ng-init="clicked=false" ng-disabled="clicked" ng-click="clicked=true">
    <img src="../assets/img/bnet_icon.png" width="30" height="30" ng-hide="clicked">
    <i class="fa fa-circle-o-notch fa-spin fa-2x" aria-hidden="true" ng-show="clicked"></i>
  </a>

  <br/>

  <a href="#/home">
    <img src="../assets/img/logo.png" height="300">
  </a>

</div>
