<!-- Guest page -->
<div class="row fill">
  <div class="col-md-5 fill" style="background-image: url(../assets/img/guest_left.png); background-size: cover;"></div>
  <div class="col-md-2 fill text-center">
    <div class="guest-brand">Wyrd</div>
    <img src="../assets/img/logo.png" height="60">
    <div class="guest-text">
      Alors comme ça, on est pas guildé ?
      <br/><br/>
      Pas de chance !
      <br/>
      À bientôt sur World of Warcraft <em>le jeu</em>
    </div>
    <a href="/#/cover" class="btn btn-default guest-button">
      <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-5 fill" style="background-image: url(../assets/img/guest_right.png); background-size: cover;"></div>
</div>
