<!-- Navbar -->
<trmds-nav-bar></trmds-nav-bar>

<!-- Home page -->
<div class = "row">
    <div class="col-md-12">
        <h2>{{ vm.nice }}</h2>
        <br/>
        <p>
            https://www.npmjs.com/package/battlenet-api
            <br/>
            https://scotch.io/tutorials/build-a-restful-api-using-node-and-express-4
        </p>
        <hr/>
        Character data:
        <pre>{{ vm.characterInfo }}</pre>
        <br/>
        Guild members:
        <pre>{{ vm.guildMembers }}</pre>
        <br/>
        <input ng-model="vm.character" type="text" placeholder="Personnage"/>
        <a class="btn" ng-click="vm.getCharacterInfo()">Get info !</a>
    </div>
</div>
