<!-- Home page -->
<!-- Sidebar -->
<trmds-side-bar page="home"></trmds-side-bar>

<div class="rows-wrapper" ng-class="$root.open"
     style="background-image: url(http://wow.zamimg.com/uploads/guide/seo/4872.jpg); background-size: cover;">

  <!-- <span class="home-timer">
    <timer interval="1000" countdown="vm.countdown">{{days}}D:{{hours}}H:{{minutes}}M:{{seconds}}S</timer>
  </span> -->

  <div class="row">
    <div class="col-md-3">
      <div ng-show="vm.logs" ng-repeat="log in vm.logs | limitTo: -10 | orderBy:['-start']">
        <trmds-logs-widget log="log"></trmds-logs-widget>
      </div>
      (10 derniers logs sur les {{ vm.logs.length }} existants)
    </div>
  </div>
</div>
