<!-- Mythic+ page -->
<!-- Sidebar -->
<trmds-side-bar page="mythic"></trmds-side-bar>

<div class="rows-wrapper" ng-class="$root.open">

<trmds-title-bar page="Mythic+" updating="vm.updating" last-update="vm.lastUpdate" update="vm.updateProgress"></trmds-title-bar>

<div class="row fade" ng-show="vm.updating === false">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover table-condensed mythic-table">
      <thead>
        <tr>
          <th><!-- Name --></th>
          <th><!-- Count --></th>
          <th><img src="http://media.blizzard.com/wow/icons/56/achievement_dungeon_neltharionslair.jpg"/></th>
          <th><img src="http://media.blizzard.com/wow/icons/56/achievement_dungeon_hallsofvalor.jpg"/></th>
          <th><img src="http://media.blizzard.com/wow/icons/56/achievement_dungeon_darkheartthicket.jpg"/></th>
          <th><img src="http://media.blizzard.com/wow/icons/56/achievement_dungeon_vaultofthewardens.jpg"/></th>
          <th><img src="http://media.blizzard.com/wow/icons/56/achievement_dungeon_blackrookhold.jpg"/></th>
          <th><img src="http://media.blizzard.com/wow/icons/56/achievement_dungeon_mawofsouls.jpg"/></th>
          <th><img src="http://media.blizzard.com/wow/icons/56/achievement_dungeon_thearcway.jpg"/></th>
          <th><img src="http://media.blizzard.com/wow/icons/56/achievement_dungeon_eyeofazshara.jpg"/></th>
          <th><img src="http://media.blizzard.com/wow/icons/56/achievement_dungeon_courtofstars.jpg"/></th>
        </tr>
        <tr>
          <th><!-- Name --></th>
          <th><!-- Count --></th>
          <th><!-- 7546 -->Repaire de Neltharion</th>
          <th><!-- 7672 -->Salles des Valeureux</th>
          <th><!-- 7673 -->Fourre Sombrecoeur</th>
          <th><!-- 7787 -->Caveau des Gardiennes</th>
          <th><!-- 7805 -->Bastion du Freux</th>
          <th><!-- 7812 -->La Gueule des ames</th>
          <th><!-- 7855 -->L'Arcavia</th>
          <th><!-- 8040 -->Oeil d'Azshara</th>
          <th><!-- 8079 -->La Cour des etoiles</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="raider in vm.roster | orderBy:['-mythicDungeons.total']">
          <td class="mythic-table-name" ng-class="vm.getClassColor(raider.class)">{{ raider.name }}</td>
          <td class="mythic-table-total">{{ raider.mythicDungeons.total ? raider.mythicDungeons.total : '-' }}</td>
          <td ng-repeat="(key, count) in raider.mythicDungeons.dungeons" class="mythic-table-count">{{ count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
