<!-- Progress page -->
<!-- Sidebar -->
<trmds-side-bar page="progress" open="open"></trmds-side-bar>

<div class="rows-wrapper" ng-class="open">

<div class="row title-bar">
    <div class="col-md-12">
      <h2>Progress <small>Avancee des downs par difficulte</small></h2>
    </div>
</div>

<div class="progress-wrapper">

<!-- Emerald Nightmare -->
<div class="progress-row" style="background-image: url(http://2.bp.blogspot.com/-p5fFpOAHgFA/Vek7T-kyqKI/AAAAAAAAC_s/u52b_te4oeA/s1600/nightmare.JPG);
background-size: cover;">
  <div class="row progress-title-row">
    <div class="col-md-12">
      <h3>Cauchemard d'Emeraude
        <a href="http://fr.wowhead.com/zone=8026/le-cauchemar-d-emeraude" target="_blank">
          <img src="http://static.zealous-studios.co.uk/projects/wowwiki/images/Icon-wowhead-48x48.png"
               title="Voir sur WoWHead" width="20" height="20"/>
        </a>
      </h3>
    </div>
  </div>

  <div class="row progress-content-row">
    <trmds-progress-boss-unit
      name="Ursoc"
      difficulty="Normal"
      size="col-md-3">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Nythendra"
      difficulty="Heroic"
      size="col-md-3">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Elerethe Renferal"
      difficulty="Mythic"
      size="col-md-3">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Il'gynoth"
      difficulty="TODO"
      size="col-md-3">
    </trmds-progress-boss-unit>
  </div>
  <div class="row progress-content-row">
    <trmds-progress-boss-unit
      name="Dragons du cauchemard"
      difficulty="TODO"
      size="col-md-4">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Cenarius"
      difficulty="TODO"
      size="col-md-4">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Xavius"
      difficulty="TODO"
      size="col-md-4">
    </trmds-progress-boss-unit>
  </div>
</div>

<!-- Nighthold -->
<div class="progress-row" style="background-image: url(http://wow.zamimg.com/uploads/screenshots/resized/516576.jpg); background-size: cover;">
  <div class="row progress-title-row">
    <div class="col-md-12">
      <h3>Palais Sacrenuit
        <a href="http://fr.wowhead.com/zone=8025/palais-sacrenuit" target="_blank">
          <img src="http://static.zealous-studios.co.uk/projects/wowwiki/images/Icon-wowhead-48x48.png"
               title="Voir sur WoWHead" width="20" height="20"/>
        </a>
      </h3>
    </div>
  </div>

  <div class="row progress-content-row">
    <trmds-progress-boss-unit
      name="Skorpyron"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Krosus"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Anomalie chromatique"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Trilliax"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Star Augur Etraeus"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>
  </div>
  <div class="row progress-content-row">
    <trmds-progress-boss-unit
      name="Grand Magistrix Elisande"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="High Botanist Tel'arn"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>

    <trmds-progress-boss-unit
      name="Spellblade Aluriel"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Tichondrius"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>
    <trmds-progress-boss-unit
      name="Gul'dan"
      difficulty="TODO"
      size="col-md-1 col-md-5th">
    </trmds-progress-boss-unit>
  </div>
</div>

</div>
</div>
