<!-- Progress page -->
<!-- Sidebar -->
<trmds-side-bar page="progress"></trmds-side-bar>

<div class="rows-wrapper" ng-class="$root.open">

<trmds-title-bar page="Progress" updating="vm.updating" last-update="vm.progress.lastUpdate" update="vm.updateProgress">
</trmds-title-bar>

<div class="row progress-wrapper">

  <!-- Emerald Nightmare -->
  <div class="col-md-6 fill" style="background-image: url(http://2.bp.blogspot.com/-p5fFpOAHgFA/Vek7T-kyqKI/AAAAAAAAC_s/u52b_te4oeA/s1600/nightmare.JPG);
  background-size: cover;">
    <div class="progress-title">
        <h3>Cauchemard d'Emeraude
          <a href="http://fr.wowhead.com/zone=8026/le-cauchemar-d-emeraude" target="_blank">
            <img src="http://static.zealous-studios.co.uk/projects/wowwiki/images/Icon-wowhead-48x48.png"
                 title="Voir sur WoWHead" width="20" height="20"/>
          </a>
        </h3>
    </div>
    <div class="fade progress-content" ng-hide="vm.updating">
      <trmds-progress-boss-unit ng-repeat="boss in vm.progress.emeraldNightmare"
        name="boss.bossName"
        downs="boss.downs">
      </trmds-progress-boss-unit>
    </div>
    <div class="progress-update" ng-show="vm.updating">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    </div>
  </div>

  <!-- Nighthold -->
  <div class="col-md-6 fill" style="background-image: url(http://wow.zamimg.com/uploads/screenshots/resized/516576.jpg); background-size: cover;">
    <div class="progress-title">
        <h3>Palais Sacrenuit
          <a href="http://fr.wowhead.com/zone=8025/palais-sacrenuit" target="_blank">
            <img src="http://static.zealous-studios.co.uk/projects/wowwiki/images/Icon-wowhead-48x48.png"
                 title="Voir sur WoWHead" width="20" height="20"/>
          </a>
        </h3>
    </div>
    <div class="fade progress-content" ng-hide="vm.updating">
      <trmds-progress-boss-unit ng-repeat="boss in vm.progress.nighthold"
        name="boss.bossName"
        downs="boss.downs">
      </trmds-progress-boss-unit>
    </div>
    <div class="progress-update" ng-show="vm.updating">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    </div>
  </div>

</div>
</div>
