<!-- Navbar -->
<trmds-nav-bar page="progress"></trmds-nav-bar>

<!-- Progress page -->
<h2>Progress</h2>

<!-- Links -->
<div class="row">
  <div class="col-md-12">
    <a href="http://www.wowprogress.com/pve/eu/ysondre" target="_blank">
      Ysondre sur WoWProgress
    </a>
    <br/>
    <a href="http://www.wowprogress.com/guild/eu/ysondre/Tremendous" target="_blank">
      Tremendous sur WoWProgress
    </a>
  </div>
</div>

<!-- Ranking -->
<div class="row">
  <div class="col-md-12">
    <h3>Ranking</h3>
    <canvas class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels"></canvas>
  </div>
</div>
