<!-- Raid page -->
<!-- Sidebar -->
<trmds-side-bar page="raid"></trmds-side-bar>

<div class="rows-wrapper" ng-class="$root.open">
  <trmds-title-bar page="Raids"></trmds-title-bar>
  <br/>
  <div class="row raid-loots">

    <div class="col-md-8 text-center" ng-hide="vm.roster.length > 0">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
    </div>

    <div class="col-md-8 fade" ng-show="vm.roster.length > 0">
      <table class="table table-condensed table-hover raid-loots-table">
        <thead>
          <tr>
            <th><!-- Name --></th>
            <th ng-repeat="boss in vm.bosses">
              <img class="raid-bosses-img" ng-src="https://wow.zamimg.com/images/wow/journal/ui-ej-boss-{{ boss.thumbnail }}.png" title="{{ ::boss.title }}"/>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="raider in vm.roster | orderBy:['+class', '-averageItemLevel']">
            <td class="raid-loots-lign" ng-class="vm.getClassColor(raider.class)">{{ raider.name }}</td>
            <td ng-repeat="item in raider.loot" class="raid-loots-lign raid-loots-value">
              <trmds-loot-value value="item.value"></trmds-loot-value>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4 text-center" ng-hide="vm.logs.length > 0">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
    </div>
    <div class="col-md-4 fade" ng-show="vm.logs.length > 0">
      <div ng-show="vm.logs" ng-repeat="log in vm.logs | limitTo: -10 | orderBy:['-order']">
        <trmds-logs-widget log="log"></trmds-logs-widget>
      </div>
      <div class="text-muted" style="text-align: right;"><strong>10</strong> derniers logs sur les <strong>{{ vm.logs.length }}</strong> existants</div>
    </div>

  </div>
</div>
