<!-- Roster page -->
<!-- Sidebar -->
<trmds-side-bar page="ranking"></trmds-side-bar>

<div class="rows-wrapper" ng-class="$root.open">

  <trmds-title-bar page="Ranking" updating="vm.updating" last-update="vm.ranking.lastUpdate" update="vm.updateRanking">
  </trmds-title-bar>

  <div class="row">

    <!-- Server ranking -->
    <div ng-hide="vm.updating" class="col-md-5">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Guildes</th>
            <th>Serveur</th>
            <th>Region</th>
            <th>Monde</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="guild in vm.ranking.guilds">
            <td class="guild-name">
              <a ng-href="{{ guild.url }}" target="_blank">
                {{ guild.name }}
                <img ng-show="guild.name === 'Millenium'" src="https://wiki.mylzh.net/sites/world-of-warcraft/images/1/17/Shattered_Sun_64.png" width="16" height="16"/>
              </a>
            </td>
            <td>{{ guild.realmRank }}</td>
            <td>{{ guild.regionRank }}</td>
            <td>{{ guild.worldRank }}</td>
            <td>{{ guild.tierProgress }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="vm.updating" class="col-md-5 text-center" style="margin-top: 250px;">
      <i class="fa fa-refresh fa-spin fa-4x fa-fw"></i>
    </div>

    <!-- Guild rank -->
    <div class="col-md-4 text-center">
      <h2 class="text-muted"><b>Server</b> Rank</h2>
      <h1 ng-hide="vm.updating">{{ vm.guild.realmRank }}</h1>
      <h1 ng-show="vm.updating">-</h1>
      <hr/>
      <h2 class="text-muted"><b>EU</b> Rank</h2>
      <h1 ng-hide="vm.updating">{{ vm.guild.regionRank }}</h1>
      <h1 ng-show="vm.updating">-</h1>
      <hr/>
      <h2 class="text-muted"><b>World</b> Rank</h2>
      <h1 ng-hide="vm.updating">{{ vm.guild.worldRank }}</h1>
      <h1 ng-show="vm.updating">-</h1>
    </div>
    <div class="col-md-2 text-center">
      <h3>WowProgress</h3>
      <a class="btn btn-default btn-sm" href="http://www.wowprogress.com/pve/eu/ysondre" target="_blank">
        Ysondre
      </a>
      <a class="btn btn-default btn-sm" href="http://www.wowprogress.com/guild/eu/ysondre/Tremendous" target="_blank">
        Tremendous
      </a>
    </div>
  </div>

</div>
