<!-- Progress page -->
<!-- Sidebar -->
<trmds-side-bar page="recipes"></trmds-side-bar>

<div class="rows-wrapper" ng-class="$root.open">

  <trmds-title-bar page="Recipes"></trmds-title-bar>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th><!-- Name --></th>
            <!-- Flacons -->
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask03green.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask03red.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask03purple.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask03orange.jpg"/></th>
            <!-- Potions buff -->
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_orange.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask02.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask04.jpg"/></th>
            <!-- Potions regen -->
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_red.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_purple.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_blue.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask01.jpg"/></th>
          </tr>
          <tr>
            <th><!-- Name --></th>
            <!-- Flacons -->
            <th>Endurance</th>
            <th>Force</th>
            <th>Intelligence</th>
            <th>Agilite</th>
            <!-- Potions buff -->
            <th>DPS (melee)</th>
            <th>DPS (distant)</th>
            <th>Armure</th>
            <!-- Potions regen -->
            <th>Vie</th>
            <th>Vie + Mana</th>
            <th>Mana</th>
            <th>Mana (canalisee)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="character in vm.charactersWithRecipes">
            <td>{{ character.name }}</td>
            <!-- Flacons -->
            <td>{{ vm.getRecipeRank('flask_endu', character.recipes) }}</td>
            <td>{{ vm.getRecipeRank('flask_str', character.recipes) }}</td>
            <td>{{ vm.getRecipeRank('flask_int', character.recipes) }}</td>
            <td>{{ vm.getRecipeRank('flask_agi', character.recipes) }}</td>
            <!-- Potions buff -->
            <td>{{ vm.getRecipeRank('potion_melee', character.recipes) }}</td>
            <td>{{ vm.getRecipeRank('potion_distant', character.recipes) }}</td>
            <td>{{ vm.getRecipeRank('potion_armor', character.recipes) }}</td>
            <!-- Potions regen -->
            <td>{{ vm.getRecipeRank('potion_hp', character.recipes) }}</td>
            <td>{{ vm.getRecipeRank('potion_both', character.recipes) }}</td>
            <td>{{ vm.getRecipeRank('potion_mana', character.recipes) }}</td>
            <td>{{ vm.getRecipeRank('potion_mana_channel', character.recipes) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
