<!-- Progress page -->
<!-- Sidebar -->
<trmds-side-bar page="recipes"></trmds-side-bar>

<div class="rows-wrapper" ng-class="$root.open">

  <trmds-title-bar page="Recipes"></trmds-title-bar>

  <!-- Tabs -->
  <div class="row recipes-tabs">
    <div class="col-md-3 recipe-tab" ng-class="vm.currentTab === 0 ? 'recipes-current-tab' : ''" ng-click="vm.setCurrentTab(0)">
      <div class="recipe-tab-content">Flasks & Pots</div>
    </div>
    <div class="col-md-3 recipe-tab" ng-class="vm.currentTab === 1 ? 'recipes-current-tab' : ''" ng-click="vm.setCurrentTab(1)">
      <div class="recipe-tab-content">Gems</div>
    </div>
    <div class="col-md-3 recipe-tab" ng-class="vm.currentTab === 2 ? 'recipes-current-tab' : ''" ng-click="vm.setCurrentTab(2)">
      <div class="recipe-tab-content">Enchants</div>
    </div>
    <div class="col-md-3 recipe-tab" ng-class="vm.currentTab === 3 ? 'recipes-current-tab' : ''" ng-click="vm.setCurrentTab(3)">
      <div class="recipe-tab-content">Food</div>
    </div>
  </div>
  <br/>
  <!-- Arrays -->
  <div class="row fade" ng-show="vm.charactersWithAlchemyRecipes">
    <!-- Alchemy -->
    <div class="col-md-8 col-md-offset-2 fade" ng-show="vm.currentTab === 0">
      <table class="table table-hover table-condensed recipes-table">
        <thead>
          <tr>
            <th><!-- Name --></th>
            <!-- Flacons -->
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask03green.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask03red.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask03purple.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask03orange.jpg"/></th>
            <!-- Potions buff -->
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_orange.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask02.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask04.jpg"/></th>
            <!-- Potions regen -->
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_red.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_purple.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_blue.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_alchemy_70_flask01.jpg"/></th>
          </tr>
          <tr>
            <th><!-- Name --></th>
            <!-- Flacons -->
            <th>Endurance</th>
            <th>Force</th>
            <th>Intelligence</th>
            <th>Agilite</th>
            <!-- Potions buff -->
            <th>DPS (melee)</th>
            <th>DPS (distant)</th>
            <th>Armure</th>
            <!-- Potions regen -->
            <th>Vie</th>
            <th>Vie + Mana</th>
            <th>Mana</th>
            <th>Mana (canalisee)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="character in vm.charactersWithAlchemyRecipes | orderBy:['+guildRank']">
            <td ng-class="vm.getClassColor(character.class)">{{ character.name }}</td>
            <!-- Flacons -->
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('flask_endu', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('flask_str', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('flask_int', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('flask_agi', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <!-- Potions buff -->
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('potion_melee', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('potion_distant', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('potion_armor', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <!-- Potions regen -->
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('potion_hp', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('potion_both', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('potion_mana', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getAlchemyRecipeRank('potion_mana_channel', character.alchemyRecipes) }}" size="40">
            </trmds-proving-grounds></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Gems -->
    <div class="col-md-8 col-md-offset-2 fade" ng-show="vm.currentTab === 1">
      <table class="table table-hover table-condensed recipes-table">
        <thead>
          <tr>
            <th><!-- Name --></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelcrafting_70_saberseye.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelcrafting_70_cutgem03_purple.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelcrafting_70_cutgem03_yellow.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelcrafting_70_cutgem03_orange.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelcrafting_70_cutgem03_blue.jpg"/></th>
          </tr>
          <tr>
            <th><!-- Name --></th>
            <th>Oeil de sabre</th>
            <th>Maitrise</th>
            <th>Hate</th>
            <th>Critique</th>
            <th>Polyvalence</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="character in vm.charactersWithGemRecipes | orderBy:['+guildRank']">
            <td ng-class="vm.getClassColor(character.class)">{{ character.name }}</td>
            <!-- Flacons -->
            <td><trmds-proving-grounds value="{{ vm.getGemRecipeRank('saber_eye', character.jewelcraftingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getGemRecipeRank('mastery', character.jewelcraftingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getGemRecipeRank('haste', character.jewelcraftingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getGemRecipeRank('crit', character.jewelcraftingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getGemRecipeRank('vers', character.jewelcraftingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Enchants -->
    <div class="col-md-8 col-md-offset-2 fade" ng-show="vm.currentTab === 2">
      <table class="table table-hover table-condensed recipes-table">
        <thead>
          <tr>
            <th><!-- Name --></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_misc_cape_20.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_misc_cape_20.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_misc_cape_20.jpg"/></th>
            <th></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_necklace_11.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_necklace_11.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_necklace_11.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_necklace_11.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_necklace_11.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_necklace_11.jpg"/></th>
            <th></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_ring_03.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_ring_03.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_ring_03.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_jewelry_ring_03.jpg"/></th>
          </tr>
          <tr>
            <th><!-- Name --></th>
            <th>Agi</th>
            <th>Int</th>
            <th>Str</th>
            <th></th>
            <th>Heal proc</th>
            <th>Claw</th>
            <th>Distant Army</th>
            <th>Armor proc</th>
            <th>Satyr</th>
            <th>Mastery</th>
            <th></th>
            <th>Crit</th>
            <th>Haste</th>
            <th>Mastery</th>
            <th>Versa</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="character in vm.charactersWithEnchantRecipes | orderBy:['+guildRank']">
            <td ng-class="vm.getClassColor(character.class)">{{ character.name }}</td>
            <!-- Cloaks -->
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('cloak_agi', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('cloak_int', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('cloak_str', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td></td>
            <!-- Necks -->
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('neck_priestess', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('neck_claw', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('neck_army', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('neck_hide', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('neck_satyr', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('neck_soldier', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td></td>
            <!-- Rings -->
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('ring_crit', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('ring_haste', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('ring_mastery', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getEnchantRecipeRank('ring_versa', character.enchantRecipes) }}" size="40">
            </trmds-proving-grounds></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Food -->
    <div class="col-md-8 col-md-offset-2 fade" ng-show="vm.currentTab === 3">
      <table class="table table-hover table-condensed recipes-table">
        <thead>
          <tr>
            <th><!-- Name --></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_misc_food_legion_azsharisalad.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_misc_food_legion_seedbatteredfishplate.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_misc_food_legion_nightbornedelicacyplatter.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_misc_food_legion_thehungrymagistar.jpg"/></th>
            <th><img class="img-rounded" src="http://wow.zamimg.com/images/wow/icons/large/inv_misc_food_legion_fishbrulspecial.jpg"/></th>
          </tr>
          <tr>
            <th><!-- Name --></th>
            <th>Haste</th>
            <th>Versa</th>
            <th>Mastery</th>
            <th>Crit</th>
            <th>Damages</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="character in vm.charactersWithCookingRecipes | orderBy:['+guildRank']">
            <td ng-class="vm.getClassColor(character.class)">{{ character.name }}</td>
            <td><trmds-proving-grounds value="{{ vm.getCookingRecipeRank('haste', character.cookingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getCookingRecipeRank('versa', character.cookingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getCookingRecipeRank('mastery', character.cookingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getCookingRecipeRank('crit', character.cookingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td><trmds-proving-grounds value="{{ vm.getCookingRecipeRank('damages', character.cookingRecipes) }}" size="40">
            </trmds-proving-grounds></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
