<!-- Roster page -->
<!-- Sidebar -->
<trmds-side-bar page="roster"></trmds-side-bar>

<div class="rows-wrapper" ng-class="$root.open">

<trmds-title-bar page="Roster" display-button="true" updating="vm.updating" last-update="vm.rosterInfos.lastUpdate" update="vm.updateRoster">
</trmds-title-bar>

<!-- Update progress -->
<div class="row text-center" ng-show="vm.updating && vm.rosterSize > 0">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <h2>Updating roster</h2>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
           ng-style="{ 'width': vm.getUpdateProgress() + '%' }"></div>
    </div>
    {{ vm.updateCount }} / {{ vm.rosterSize }}
  </div>
</div>

<!-- Roster -->
<div class="row roster-wrapper fade" ng-hide="vm.updating">
  <div class="col-md-10 roster-table-wrapper">
    <table class="table table-condensed table-hover roster-table">
    <thead>
      <tr>
        <th style="cursor: pointer;" ng-click="vm.resetOrderBy()"></th>
        <th><!-- | --></th>
        <th style="cursor: pointer;" ng-click="vm.changeOrderBy('averageItemLevelEquipped')">ilvl</th>
        <th><!-- | --></th>
        <th><trmds-slot-icons slot="head" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="neck" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="shoulder" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="back" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="chest" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="wrist" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="hands" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="waist" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="legs" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="feet" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="finger1" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="finger2" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="trinket1" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="trinket2" size="24"></trmds-slot-icons></th>
        <th ><trmds-slot-icons slot="mainHand" size="24"></trmds-slot-icons></th>
        <th><trmds-slot-icons slot="offHand" size="24"></trmds-slot-icons></th>
        <th></th>
        <th ng-click="vm.changeOrderBy('heartOfAzerothLevel')"><img src="../assets/img/heart_of_azeroth.jpg" width="24" height="24" title="Neck" class="img-rounded"/></th>
        <th><img src="https://wow.zamimg.com/images/wow/icons/large/inv_jewelcrafting_80_specialgemcut01.jpg" width="24" height="24" title="Oeil de kraken" class="img-rounded"/></th>
        <th><img src="https://wow.zamimg.com/images/wow/icons/large/inv_jewelcrafting_80_cutgem02_orange.jpg" width="24" height="24" title="Gemmes" class="img-rounded"/></th>
        <th><img src="https://wow.zamimg.com/images/wow/icons/large/inv_enchanting_80_veiledcrystal.jpg" width="24" height="24" title="Enchants" class="img-rounded"/></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="raider in vm.roster | orderBy:vm.orderBy">
        <!-- Role + Name -->
        <td class="roster-raider-role-name" ng-class="vm.getClassColor(raider.class)">
          <trmds-role-icons role="{{ raider.role }}" size="24"></trmds-role-icons>
          <a ng-href="#/character/{{ raider.name }}" class="roster-raider-name">{{ raider.name }}</a>
        </td>
        <td><!-- Separator --></td>
        <!-- ilvl -->
        <td ng-class="vm.getIlvlColor(raider.averageItemLevelEquipped)">{{ raider.averageItemLevelEquipped }}</td>
        <td><!-- Separator --></td>
        <!-- Slots -->
        <td ng-repeat="item in raider.items" ng-class="vm.getItemQualityColor(item.quality)">
          {{ item.ilvl ? item.ilvl : ''}}
        </td>
        <!-- Separator -->
        <td></td>
        <!-- Heart of Azeroth level -->
        <td ng-class="vm.getHeartOfAzerothLevelColor(raider.heartOfAzerothLevel)">
          <strong>{{ raider.heartOfAzerothLevel }}</strong>
        </td>
        <!-- Epic gem -->
        <td ng-class="vm.getKrakenEyeAuditColor(raider)">
          {{ raider.audit.equipedKrakenEye }}
        </td>
        <!-- Other gems -->
        <td ng-class="vm.getGemAuditColor(raider)">
          {{ raider.audit.equipedGems }}/{{ raider.audit.gemSlots }}
        </td>
        <!-- Enchants -->
        <td ng-class="vm.getEnchantAuditColor(raider)">
          {{ 3 - raider.audit.missingEnchants }}/3
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <!-- Roster info -->
  <div class="col-md-2 fade" ng-show="vm.rosterInfos">
    <div class="row text-center">
      <div class="col-md-12">
        <br/>
        <h2>{{ vm.rosterInfos.size }} <small>Raiders</small></h2>

        <!-- Ilvl - | ~ | + -->
        <span class="roster-ilvl-lowest">{{ vm.rosterInfos.lowestItemLevel }}</span>
        <span class="roster-ilvl-average">{{ vm.rosterInfos.averageItemLevel }}</span>
        <span class="roster-ilvl-highest">{{ vm.rosterInfos.highestItemLevel }}</span>

        <hr/>

        <!-- General class Distribution -->
        <span class="text-muted">All</span>
        <canvas class="chart chart-doughnut"
                chart-data="vm.classDistribution.data"
                chart-labels="vm.classDistribution.labels"
                chart-colors="vm.classDistribution.colors">
        </canvas>

        <hr/>

        <!-- Tank class Distribution -->
        <span class="text-muted">Tanks</span>
        <canvas class="chart chart-doughnut"
          chart-data="vm.classDistribution.tankData"
          chart-labels="vm.classDistribution.labels"
          chart-colors="vm.classDistribution.colors">
        </canvas>

        <hr/>

        <!-- Healer class Distribution -->
        <span class="text-muted">Healers</span>
        <canvas class="chart chart-doughnut"
        chart-data="vm.classDistribution.healerData"
        chart-labels="vm.classDistribution.labels"
        chart-colors="vm.classDistribution.colors">
      </canvas>
      </div>

    </div>
  </div>

</div>
</div>
