<div class="media log-widget" ng-init="showBtn = false" ng-mouseenter="showBtn=true" ng-mouseleave="showBtn=false">
  <div class="media-left">
    <a href="">
      <img class="media-object" ng-src="http://warcraftlogs.com/img/icons/warcraft/zone-{{ log.zone }}.png"
           err-src="http://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg" width="48" height="48"/>
    </a>
  </div>
  <div class="media-body">
    <a ng-show="showBtn" class="log-widget-btn btn btn-sm btn-default" ng-href="https://www.warcraftlogs.com/reports/{{ log.id }}" target="_blank">
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
    <h4 class="media-heading">{{ log.title }} <small>{{ log.owner }}</small></h4>
    <span class="label" ng-style="{ 'background-color': dayColor }">{{ day }}</span> {{ log.start }} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ log.end }}
  </div>
</div>
