<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand" href="#">Tremendous</div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="page === 'home' ? 'active' : ''"><a href="#/home">Home</a></li>
        <li ng-class="page === 'progress' ? 'active' : ''"><a href="#/progress">Progress</a></li>
        <li ng-class="page === 'admin' ? 'active' : ''"><a href="#/admin">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>
