<div class="progress-boss-unit" ng-mouseenter="showDetails = true" ng-mouseleave="showDetails = false">
  <div class="progress-boss-unit-name">{{ name }}</div>
  <span ng-hide="showDetails" ng-class="getHighestProgress(true)" class="label label-transparent">{{ getHighestProgress(false) }}</span>
  <span ng-show="showDetails" ng-repeat="down in downs">
    <span ng-class="getProgressCssClass(down.difficulty)" class="label">{{ getDifficulty(down.difficulty) }}</span> : {{ getHumanTimestamp(down.timestamp) }}
  </span>
</div>
