<div class="sidenav" ng-class="$root.open" ng-mouseover="$root.open='open'" ng-mouseleave="$root.open=''">
  <!-- Logo -->
  <div class="sidenav-logo">
    <img src="assets/img/logo.png" width="54" height="54"/>
    <span class="sidenav-logo-brand fade" ng-show="$root.open === 'open'">Tremendous</span>
  </div>
  <!-- Home -->
  <a href="#/home" class="sidenav-element" ng-class="page === 'home' ? 'active' : ''">
    <span class="sidenav-element-content">
      <i class="fa fa-home" aria-hidden="true"></i>
      <span class="fade" ng-show="$root.open === 'open'">Home</span>
      <span ng-hide="$root.open === 'open'"></span>
    </span>
  </a>
  <!-- Roster -->
  <a href="#/roster" class="sidenav-element" ng-class="page === 'roster' ? 'active' : ''">
    <span class="sidenav-element-content">
      <i class="fa fa-users" aria-hidden="true"></i>
      <span class="fade" ng-show="$root.open === 'open'">Roster</span>
      <span ng-hide="$root.open === 'open'"></span>
    </span>
  </a>
  <!-- Recipes -->
  <a href="#/recipes" class="sidenav-element" ng-class="page === 'recipes' ? 'active' : ''">
    <span class="sidenav-element-content">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <span class="fade" ng-show="$root.open === 'open'">Recipes</span>
      <span ng-hide="$root.open === 'open'"></span>
    </span>
  </a>
  <!-- Mythic+ -->
  <a href="#/mythic" class="sidenav-element" ng-class="page === 'mythic' ? 'active' : ''">
    <span class="sidenav-element-content">
      <i class="fa fa-medium" aria-hidden="true"></i>
      <span class="fade" ng-show="$root.open === 'open'">Mythic+</span>
      <span ng-hide="$root.open === 'open'"></span>
    </span>
  </a>
  <!-- Progress -->
  <a href="#/progress" class="sidenav-element" ng-class="page === 'progress' ? 'active' : ''">
    <span class="sidenav-element-content">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      <span class="fade" ng-show="$root.open === 'open'">Progress</span>
      <span ng-hide="$root.open === 'open'"></span>
    </span>
  </a>
  <!-- Ranking -->
  <a href="#/ranking" class="sidenav-element" ng-class="page === 'ranking' ? 'active' : ''">
    <span class="sidenav-element-content">
      <i class="fa fa-university" aria-hidden="true"></i>
      <span class="fade" ng-show="$root.open === 'open'">Ranking</span>
      <span ng-hide="$root.open === 'open'"></span>
    </span>
  </a>
  <div class="sidenav-element sidenav-element-content sidenav-element-btag">
    {{ $root.user.battletag }}
  </div>
  <!-- Admin -->
  <!-- <a href="#/admin" class="sidenav-element" ng-class="page === 'admin' ? 'active' : ''">
    <span class="sidenav-element-content" >
      <i class="fa fa-cog" aria-hidden="true"></i>
      <span class="fade" ng-show="$root.open === 'open'">Admin</span>
      <span ng-hide="$root.open === 'open'"></span>
    </span>
  </a> -->
</div>
